<!-- Employers Aside -->
    <aside class="employers">
        <div class="container">
            <h3>Previous Employers</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.analog.com/en/index.html">
                        <img src="img/logos/analog-devices.png" class="img-responsive img-centered" alt="Analog evices Logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.farfetch.com">
                        <img src="img/logos/farfetch.jfif" class="img-responsive img-centered" alt="Farfetch Logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.gm.com/">
                        <img src="img/logos/general-motors.png" class="img-responsive img-centered" alt="GM Logo">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.optelgroup.com">
                        <img src="img/logos/optel-vision.png" class="img-responsive img-centered" alt="Optel Vision Logo">
                    </a>
                </div>
            </div>
        </div>
    </aside>